# https://hub.docker.com/u/delboy1978uk
version: '2'

volumes:
    db_data:
        driver: local

services:
    php:
        build: ./build/php
        ports:
            - 9000
            - 9001
        volumes_from:
            - app
        links:
            - mariadb
            - mail
        environment:
            APPLICATION_ENV: 'development'
        user: php:staff

    app:
        # image: httpd:2.4.38
        volumes:
            - ./code:/var/www/html
        build: ./build/httpd
        ports:
            - 80:80
            - 443:443

    mariadb:
        image: mariadb:10.7.1
        volumes:
            - ./build/data:/docker-entrypoint-initdb.d
            - db_data:/var/lib/mysql
        environment:
            MYSQL_HOST: 'mariadb'
            MYSQL_ROOT_PASSWORD: 'root'
            MYSQL_USER: 'root'
            MYSQL_PASSWORD: 'root'
        ports:
            - 3306:3306

    mail:
        image: mailhog/mailhog
        ports:
            - 1025:1025
            - 8025:8025

    phpmyadmin:
        restart: always
        image: phpmyadmin/phpmyadmin
        environment:
            PMA_HOST: 'mariadb'
            MYSQL_ROOT_PASSWORD: 'root'
            MYSQL_USER: 'root'
            MYSQL_PASSWORD: 'root'
            UPLOAD_LIMIT: 2G
        depends_on:
            - mariadb
        ports:
            - 8080:80
        links:
            - mariadb
