
services:
    lamp54:
        image: brinytaco/linux-php54:magento
        volumes:
            - ./projects/directedgeprint:/var/www/projects/directedgeprint
            - ./logs:/var/www/logs
            - ./certs:/var/www/certs
            - ./build/apache2.conf:/etc/apache2/apache2.conf
            - ./build/sites-enabled:/etc/apache2/sites-enabled
            - ./build/php/php.ini:/usr/local/etc/php/php.ini
        # -----------------------------------------------------------
        # Enable this `command` line on first run, or run command manually in docker CLI after first compose.
        # Install rootCA certificate in browser trusted certificates.
        # Enable `SSLCertificateFile` & `SSLCertificateKeyFile` in httpd-vhosts.conf file.
        # Restart docker instance after creation/configuration.
        # -----------------------------------------------------------
        # command: sh /var/www/certs/generate-certificate.sh localhost
        links:
            - mysql
            - mail
        ports:
            - 80:80
            - 443:443

    mail:
        image: mailhog/mailhog
        ports:
            - 1025:1025
            - 8025:8025

    mysql:
        image: mysql:5.6
        volumes:
            - mysql_db_data:/var/lib/mysql
        environment:
            MYSQL_HOST: 'mysql'
            MYSQL_ROOT_PASSWORD: 'root'
        ports:
            - 3306:3306

    phpmyadmin:
        restart: always
        image: phpmyadmin/phpmyadmin
        environment:
            PMA_HOST: 'mysql'
            MYSQL_ROOT_PASSWORD: 'root'
            UPLOAD_LIMIT: 5G
        depends_on:
            - mysql
        ports:
            - 8080:80
        links:
            - mysql


volumes:
    mysql_db_data:
