
services:
    lamp54:
        image: brinytaco/linux-php54:magento
        volumes:
            - ./projects/directedgeprint:/var/www/html
            - ./logs:/var/www/logs
            - ./build/apache2/logs:/var/log/apache2
            - ./certs:/var/www/certs
            # - ./build/apache2/apache2.conf:/etc/apache2/apache2.conf
            # - ./build/apache2/php.ini:/etc/php5/apache2/php.ini
            - ./build/sites-enabled:/etc/apache2/sites-enabled
        links:
            - mysql
            - mail
        ports:
            - 80:80
            - 443:443

    mail:
        image: mailhog/mailhog
        ports:
            - 1025:1025
            - 8025:8025

    mysql:
        image: mysql:5.6
        volumes:
            - mysql_db_data:/var/lib/mysql
        environment:
            MYSQL_HOST: 'mysql'
            MYSQL_ROOT_PASSWORD: 'root'
        ports:
            - 3306:3306

    phpmyadmin:
        restart: always
        image: phpmyadmin/phpmyadmin
        environment:
            PMA_HOST: 'mysql'
            MYSQL_ROOT_PASSWORD: 'root'
            UPLOAD_LIMIT: 5G
        depends_on:
            - mysql
        ports:
            - 8080:80
        links:
            - mysql


volumes:
    mysql_db_data:
